body {
    font: #{$EM-BASE}/1.5em $FONT_SANS_SERIF;

    letter-spacing: .015em;

    color: $COLOR_WHITE;
    background-color: $COLOR_BLUE_CHARCOAL;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}

a {
    color: $COLOR_WHITE;
}
* {
    box-sizing: border-box;
}

