
.l-options__loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 280px;
    height: 280px;
    margin: auto;

    border: 1px solid rgba($COLOR_WHITE, .5);
    border-radius: 50%;

    @include transition(all .25s $ease-in-out-quad );
}

.l-options__hud {
    margin: 150px 20px 20px 20px;

    opacity: 0;

    @include transition(all .25s $ease-in-out-quad);
    @include sm-devices() {
        width: 728px;
        height: 500px;

        @include absolute-center;
    }
}

.l-options__cards,
.l-options__header {
    position: relative;

    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.l-options {
    &.loaded {
        .l-options__loader {
            top: 101px;
            bottom: 100%;

            @include transition-delay( .25s );
        }
        .l-options__hud {
            opacity: 1;

            @include transition-delay( .75s );
        }
    }
}

.l-options__cards {
    @include sm-devices() {
        position: absolute;
        bottom: 0;

        height: 200px;
    }
}

.l-options__cards__slides {
    position: absolute;

    width: 100%;
    height: 100%;
}

.l-options__cards__slide {
    display: none;

    height: 100%;
    &:nth-child(1) {
        display: block;
    }
}

.l-options__cards__select {
    position: relative;

    float: left;

    width: 50%;
    height: 100%;

    text-align: center;

    border: 1px solid $COLOR_WHITE;
}
