@mixin xs-devices-only {
    @media (max-width: #{$SM_MIN_WIDTH - 1}) {
        @content;
    }
}

@mixin sm-devices {
    @media (min-width: #{$SM_MIN_WIDTH}) {
        @content;
    }
}

@mixin sm-devices-only {
    @media (min-width: #{$SM_MIN_WIDTH}) and (max-width: #{$MD_MIN_WIDTH - 1}) {
        @content;
    }
}

@mixin md-devices {
    @media (min-width: #{$MD_MIN_WIDTH}) {
        @content;
    }
}

@mixin absolute-center {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
}