$COLOR_WHITE: #ffffff;
$COLOR_BLUE_CHARCOAL: #010810;

$FONT_SERIF: serif; //old serif, titles and copys
$FONT_MONOSPACE: monospace; //slab serif, big titles
$FONT_SANS_SERIF: sans-serif; //simple texts