doctype html
html( lang='en' )

    head
        include layout/_head

    body

        include layout/_menu
        include layout/_options
        include layout/_results
        include layout/_framework

        include layout/_scripts